.lesson  {
  margin: 0 auto;
}

.lesson-w {
  z-index: 2;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.06),
    0 6px 16px 0 rgba(0, 0, 0, 0.03), 0 9px 28px 8px rgba(0, 0, 0, 0.02);
}
.lesson-w .ant-col {
  background-color: #ccc;
  text-align: center;
}

.lesson-n .ant-col {
  z-index: 2;
  text-align: center;
  background-color: #ccc;
  margin-top: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.06),
    0 6px 16px 0 rgba(0, 0, 0, 0.03), 0 9px 28px 8px rgba(0, 0, 0, 0.02);
}
